#col__left {
    width: 40%;
    border: 1px black solid;
    margin: 12px;
}

#col__right {
    width: 40%;
    border: 1px black solid;
    margin: 12px;
}

#cols {
    display: flex;
    justify-content: center;
}

.menu__active {
    color: red;
}

label {
    display: block;
    margin: 12px;
}

input {
    width: 480px;
    padding: 4px;
}

textarea {
    width: 480px;
    height: 160px;
    padding: 4px;
}

.formArea {
    width: 800px;
    margin: 0 auto;
}

.marker {
    color: red;
}